body {  
    box-sizing: border-box;
    margin: 0;
    background-color:antiquewhite;
}

header {
    position: fixed;
    background-color: wheat;
    color:violet;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    
      
}

aside {
    position: fixed;
    background-color: violet;
    color:black;
    top: 100px;
    left: 0;
    bottom: 20px;
    width: 20%;
   
      
}

section {
    position: fixed;
    overflow-y: scroll;
    background-color: white;
    color:black;
    top: 100px;
    left: 20%;
    bottom: 20px;
    width: 80%;
   
      
}

footer {
    position: fixed;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    left: 0%;
    bottom: 0px;
    height: 20px;
    width: 80%;
   
      
}




nav a {
    text-decoration: none;
    background-color: cadetblue;
    background-color: white;
}

nav a:hover{
    background-color: blue;
    color: yellow;
    
}

tr:nth-child(odd){
    background-color: yellow;
    background-color: pink;
}

tr:nth-child(even){
    background-color: pink ;
    background-color: pink;
}